[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    update = checkout
[submodule "bundle/tabular"]
	path = bundle/tabular
    url = https://github.com/godlygeek/tabular.git
    update = checkout
